<html>
	<head>
		<title>The Dharma API</title>
		<script type="text/javascript" src="http://use.typekit.com/ukk2oss.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<link rel="stylesheet" type="text/css" href="/main.css">
	</head>
	<body>
		<div class="content">
			<%= yield %>
		</div>
	</body>
</html>